"C:\Users\prana\Documents\python\openclassroom_project\reports"
"C:\Users\prana\Documents\python\openclassroom_project\images"
"C:\Users\prana\Documents\python\openclassroom_project\Additional_Study_Material"